<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>姓名案例_watch实现</title>
  <!-- 引入Vue -->
  <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
  <!-- 
    computed和watch之间的区别：
      1.computed能完成的功能，watch都可以完成。
      2.watch能完成的功能，computed不一定能完成，例如：watch可以进行一步操作。
    两个重要的小原则：
      1.所有被Vue管理的函数，最好写成普通函数，这样this的指向才是vm或组件实例对象
      2.所有不被Vue管理的函数（定时器的回调函数、ajax的回调函数、Promise的回调函数等），最好写成箭头函数，
        这样this的指向才是vm或组件实例对象。
		-->
  <!-- 准备好一个容器-->
  <div id="root">
    姓：<input type="text" v-model="firstName"> <br /><br />
    名：<input type="text" v-model="lastName"> <br /><br />
    全名：<span>{{fullName}}</span> <br /><br />
  </div>
</body>

<script type="text/javascript">
  Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。

  const vm = new Vue({
    el: '#root',
    data: {
      firstName: '张',
      lastName: '三',
      fullName: '张-三'
    },
    watch:{
      firstName(newValue) {
        setTimeout(() => {
          console.log(this)//js引擎调的setTimeout里面的函数，但是是一个箭头函数，没有自己的this,往外找，firstName的this是vm
          this.fullName = newValue + '-' + this.lastName
        }, 1000);//等一秒钟再修改
        console.log('firstName被修改了！')
      },
      lastName(newValue){
        this.fullName=this.firstName+'-'+newValue
        console.log('lastName被修改了！')
      }
    }
  })
</script>

</html>